/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require material_icons
 */


 *
{
    box-sizing: border-box;
}

body
{
    background: linear-gradient(to bottom, #fceabb, #f8b500);
    font-family: Montserrat, sans-serif;

    min-height: 100vh;
   
}

h2
{
    color: #19547b;
    text-decoration: underline;
    text-decoration-color: #19547b;
}
h4
{
    color: #19547b;
}


nav
{

    margin-bottom: 2rem;
    width: 100%;
}

.cocktail
{
    margin-bottom: 3rem;
    width: 18rem;
}
.card-img {
    width: 174px;
    height: 165px;
    border-radius: 8px;
    transition: all 0.2s;
    object-fit: cover;
}

.cocktail .card-text
{
    font-size: 90%;
    text-align: justify;
    background-color: white !important;
    color: black ;
}


.dflex{
  display: flex ;
  justify-content: space-between;

}

span{
  color: #19547b;
  
 
}
ul li{
color: #000000 !important;
}