<h1>Editer l'article </h1>


<%= form_for @post do |f| %>

<div class="form-group">

<label>Titre de l'article </label>
<%= f.text_field :name,  class: 'form-control' %>
</div>

<div class="form-group">
<label>Desarticle </label>
<%= f.text_area :content, class: 'form-control' %>
</div>

<div class="form-group">
<button type="submit" class="btn btn-success">Modifier l'article</button>
</div>


<%end%>